/* Documentation: .../web-toolbox/scroll-box/scroll-box.htm */

.scroll-box.horizontal { border : 1px none silver ; height : 30px }
/* curtain */
.scroll-box.horizontal > div { border : 1px solid silver ; height : 27px ; overflow : hidden ; transition : height 0.4s linear }
.scroll-box.horizontal > div:hover { height : 39px }
/* scrollbar provider */
.scroll-box.horizontal > div > div { padding : 2px ; overflow-x : auto ; scrollbar-color : #aaa #eee }
/* item container */
.scroll-box.horizontal > div > div > div { white-space : nowrap ; display : inline-block }
/* items */
.scroll-box.horizontal > div > div > div > div { background-color : #ccc ; display : inline-block ; padding : 2px ; width : 20px ; text-align : center ; font-size : 20px }
#curtain-001 { height : 31px }
#curtain-001:hover { height : 43px }
