.equation-number {
	font-family : "Cambria Math", "Asana Math", "STIX2 Math Regular" , "Times New Roman" ;
	}
div.math-text {
	margin-left : 10px ;
	position : relative ;
	padding-right : 40px ;
	font-family : "Cambria Math", "Asana Math", "STIX2 Math Regular" , "Times New Roman" ; 
	}
figure.definition math {
	margin : 10px 0 ; 
	}
math {
	display: block math ;
    math-style: normal ;
	font-family : "Cambria Math", "Asana Math", "STIX2 Math Regular" , "Times New Roman" ;
	margin-top : 20px ;
	margin-bottom : 20px ; 
	overflow : hidden ;
	}
math:hover {
	overflow-x : auto ;
	overflow-y : clip ;
	}
math > mtable > mtr:first-child > mtd:first-child {
	box-sizing : border-box ;
	width : 100% ;
	}
math > mtable.left-aligned > mtr > mtd:first-child {
	text-align : left ;
	text-align : -webkit-left ;
	}
	/* vertical axis aligned */
math > mtable.vaxis-aligned > mtd {
	box-sizing : border-box ;
	}
math > mtable.vaxis-aligned > mtr > mtd:first-child {
	text-align : right ;
	text-align : -webkit-right ;
	}
math > mtable.vaxis-aligned > mtr:first-child > mtd:first-child {
	width : 50% ;
	}
math > mtable.vaxis-aligned > mtr:first-child > mtd:nth-child( 2 ) {
	width : auto ;
	}
math > mtable.vaxis-aligned > mtr > mtd:nth-child( 3 ) {
	text-align : left ;
	text-align : -webkit-left ;
	}
math > mtable.vaxis-aligned > mtr:first-child > mtd:nth-child( 3 ) {
	width : 50% ;
	}
mtd:has(mtext.equation-number) {
	padding-right : 0 ;
	}
mtd > mtext.equation-number {
	background-color : white ;
	position : relative ;  /* this enables z-index and makes bgcolor visible */
	}
