/*   documentation: .../web-cat/page-pathbar/page-pathbar.htm   */

div.page-pathbar.scroll-box { 
	position : relative ;	
	border-bottom : 1px none silver ;
	margin : 0 -20px 0 -20px ;
	height : 36px ;
	}
div.page-pathbar a {
	text-decoration : none ;
	color : #aaa ;
	}
div.page-pathbar a:hover {
	text-decoration : underline ;
	}
xdiv.page-pathbar div {
	border-style : solid ;
	}
div.page-pathbar .item-container {
	padding : 5px 5px 5px 5px ;
	}
